:root {
    --fonte-principal: "inter";
    --cinza-escuro: #3A404E;
    --cinza-claro:#667085;
    --branco: #FFFFFF;
    --vermelho-principal: #8E2424;
    --azul-escuro: #101828;
}

body {
    font-family: var(--fonte-principal);
}
/*cabeçalho*/
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1.7em 0.5em 1.7em 2em;
    font-size: 16px;
    font-weight: 500;
}

.cabeçalho__logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--cinza-escuro);
}

.logo__texto {
    margin-left: 0.5em;
}

.cabeçalho__lista {
    display: flex;
    margin-right: 10em;
}

.ancora {
    text-decoration: none;
    color: var(--cinza-claro);
    padding: 1em;
}

.ancora__botao {
    background: var(--vermelho-principal);
    color: var(--branco);
    padding: 0.5em;
    border-radius: 5px;
}

/* sobre nós */

.sobrenos {
    text-align: center;
    padding: 5em;
}

.sobrenos__titulo {
    font-weight: 600;
    color: var(--vermelho-principal);
}

.sobrenos__principal {
    color: var(--azul-escuro);
    font-size: 48px;
    font-weight: 600;
    margin: 0.75em 0;
}

.sobrenos__texto {
    font-size: 20px;
    font-weight: 400;
    color: var(--cinza-claro);
    line-height: 30px;
    margin: 0 10em;
}

/*metricas*/

.metricas-container {
    display: flex;
    text-align: start;
    justify-content: space-around;
    margin: 3em 5.5em;
}

.metricas__colunas {
    align-items: center;
    width: 280px;
}

.metrica__numeros {
    color: var(--vermelho-principal);
    font-size: 60px;
    font-weight: 600;
}

.metrica__titulo {
    color: var(--azul-escuro);
    font-size: 18px;
    font-weight: 500;
    margin: 1em 0;
}

.metrica__texto {
    color: var(--cinza-claro);
    font-weight: 400;
    line-height: 24px;
}